.search .main-content .search-right-side .search-right-side-results-container h3 {
  margin-top: 0px !important;
};
.search .main-content .search-right-side .search-right-side-girls-item .search-right-side-girls-item-list {
  display: block !important;
}
.head_footer {
  display: none;
}
.text_color_black {
  color: #9e0039 !important;
}
.col-md-3 :hover .girls-fix-info {
  display: block;
}
.textarea_pink {
  /*background: #9e0039;*/
  border: 1px solid #9e0039 !important;
}

.activ_message-filter {
  color: #9e0039 !important;
  text-decoration: none !important;
  border-bottom: 2px solid #9e0039 !important;
}
.activ_sort_button {
  background-color: #9e0039 !important;
}

.button_add_letter {
  height: 40px;
  width: 100px;
  color: #fff;
  background: #9e0039;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
}
main .main-content .main-content-left .main-members-list .main-members-wrap .main-members-item-ava img{
  width: 60px !important;
}
.message-sort-dropdown li a:hover {
  color:#9e0039 !important;
}
.text_width {
  font-weight: 900 !important;
}
.favor_girl{
  background: url(../img/grey-like-message-grey.png) no-repeat !important;
}
.favor_girl:hover{
  background: url(../img/grey-like-message.png) no-repeat !important;
}
.tooltips-list li .add-f-icon2{
  width: 20px;
  height: 18px;
  display: block;
  background: url(../img/grey-like-message-grey.png) no-repeat;
}
.tooltips-list li .add-f-icon2:hover {
  background: url(../img/grey-like-message.png) no-repeat;
}

.search .main-content .search-right-side .search-right-side-girls-item .search-right-side-girls-item-list li .heart2 {
  background: url(../img/grey-like-message-grey.png) no-repeat;
}
.search .main-content .search-right-side .search-right-side-girls-item .search-right-side-girls-item-list li .heart2 .tooltipps {
  width: 120px;
}
.search .main-content .search-right-side .search-right-side-girls-item .search-right-side-girls-item-list li .heart2:hover {
  background: url(../img/grey-like.png) no-repeat;
}
.tooltips-list li .add-f-icon2 {
  width: 20px;
  height: 18px;
  display: block;
  background: url(../img/grey-like-message-grey.png) no-repeat; }
.tooltips-list li .add-f-icon2:hover {
  background: url(../img/grey-like-message.png) no-repeat; }

.not_check_box {
  /*display: none !important;*/
}

.calendar_mail {
  width: 120px !important;
}
/*.select2_ua {
  width: 150px !important;
  height: 30px !important;
}

#men-account-form-select {
  width: 100%;
}
.select-width-100 {
    width: 100% !important;
}
.select2-selection--single {
  height: 30px !important;
}
.mn-b-50 {
    margin-top: 5px !important;
};
.select2-results__option--highlighted[aria-selected] {
  background-color: #999 !important;
}*/

/*.select2 > .select2-choice.ui-select-match {
             Because of the inclusion of Bootstrap
            height: 29px;
        }*/

       /* .selectize-control > .selectize-dropdown {
            top: 36px;
        }*/
        /* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
        /*.select-box {
          background: #fff;
          position: relative;
          z-index: 1;
        }
        .alert-info.positioned {
          margin-top: 1em;
          position: relative;
          z-index: 10000; /* The select2 dropdown has a z-index of 9999
        }*/

/*.selectize-input {
    padding: 8px 8px !important;
  }*/
.select_box_inline {
  display: inline-block;
};

.actv {
  width: 20px;
  height: 18px;
  display: block;
  background: url(../img/grey-like-message-grey.png) no-repeat !important;
}
.window_for_photos{
  height: 600px;
  width: 800px;
  margin: 50px;
}
.margin_but {
  display: block;
  margin: 10px;
  position: absolute;
  left:900px;
}
.displ_none {
  display: none !important;
}
.box_change_avatar {
  height: 600px;
  min-width: 1000px;
  position: fixed;
  background: red;
  top:10px;
  left:200px;
}
footer{
  /*padding-top: 45px;*/
}
.main {
  /*padding: 10px 0 0 0  !important;*/
}
.selectize-dropdown, .selectize-input, .selectize-input input {
  font-size: 18px !important;
}

.selectize-input{
  padding: 9px 9px;
  font-family: HelveticaLt;
  /*src: url(../fonts/HelveticaNeueLTW1G-Bd_0.otf);*/
  font-weight: 500;
}
.blue_remove {
  background: #c7ebf3 !important;
}

