.text_color_black {
  color: #9e0039 !important;
}
.col-md-3 :hover .girls-fix-info {
  display: block;
}
.textarea_pink {
  /*background: #9e0039;*/
  border: 1px solid #9e0039 !important;
}

.activ_message-filter {
  color: #9e0039 !important;
  text-decoration: none !important;
  border-bottom: 2px solid #9e0039 !important;
}
.activ_sort_button {
  background-color: #9e0039 !important;
}

.button_add_letter {
  height: 40px;
  width: 100px;
  color: #fff;
  background: #9e0039;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
}

.message-sort-dropdown li a:hover {
  color:#9e0039 !important;
}
.text_width {
  font-weight: 900 !important;
}

.not_check_box {
  /*display: none !important;*/
}