.text_color_black {
  color: #9e0039 !important;
}
.col-md-3 :hover .girls-fix-info {
  display: block;
}
.textarea_pink {
  /*background: #9e0039;*/
  border: 1px solid #9e0039 !important;
}

.activ_message-filter {
  color: #9e0039 !important;
  text-decoration: none !important;
  border-bottom: 2px solid #9e0039 !important;
}
.activ_sort_button {
  background-color: #9e0039 !important;
}

.button_add_letter {
  height: 40px;
  width: 100px;
  color: #fff;
  background: #9e0039;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
}

.message-sort-dropdown li a:hover {
  color:#9e0039 !important;
}
.text_width {
  font-weight: 900 !important;
}

.not_check_box {
  /*display: none !important;*/
}

.calendar_mail {
  width: 120px !important;
}
.select2_ua {
  width: 150px !important;
  height: 30px !important;
}

#men-account-form-select {
  width: 100%;
}
.select-width-100 {
    width: 100% !important;
}
.select2-selection--single {
  height: 30px !important;
}
.mn-b-50 {
    margin-top: 5px !important;
};
.select2-results__option--highlighted[aria-selected] {
  background-color: #999 !important;
}

.select2 > .select2-choice.ui-select-match {
            /* Because of the inclusion of Bootstrap */
            height: 29px;
        }

        .selectize-control > .selectize-dropdown {
            top: 36px;
        }
        /* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
        .select-box {
          background: #fff;
          position: relative;
          z-index: 1;
        }
        .alert-info.positioned {
          margin-top: 1em;
          position: relative;
          z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
        }
