		<!-- main -->
	<main>
  <!-- <div>{{ctrl.user.user.id}}</div> -->
  <!-- <div>{{ctrl.partners}}</div> -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main-content clearfix">
						<div class="col-sm-4 col-md-4 main-content-left">
							<!-- main left video frame-->
							<div class="main-video-frame-1">
								<div class="video-boy сlearfix">
									<img src="assets/angular-app/public/img/video-boy-boy.jpg" alt="">
									<div class="video-boy-info">
										<div class="video-boy-info-left">
											<span></span>
											<p>Turn off requests</p>
										</div>

										<p class="camera">
											<img src="assets/angular-app/public/img/video-boy-webcam.png" width="29" height="29" alt=""></p>
									</div>
								</div>
							</div>
							<!-- end main left video frame-->
							<!-- main left members list -->
							<div class="main-members-list">
								<ul class="main-members-nav">
									<li class="active">
										<a href="" ng-click="ctrl.changeDirectory1(1)">Online</a>
									</li>
									<li>
										<a href="" ng-click="ctrl.changeDirectory2(3)">Requests</a>
									</li>
									<li>
										<a href="" ng-click="ctrl.changeDirectory3(5)">Recent</a>
									</li>
								</ul>
								<div class="main-members-container">
									<div class="main-members-wrap active">

										<!-- members-item Online-->
                  <div class="box_directory" ng-show="ctrl.onlineModel" ng-model="ctrl.onlineModel">
										<div class="main-members-item clearfix" ng-repeat="partner in ctrl.partners" ng-model="ctrl.requstInOnLine[$index]" ng-show="partner.isOnline" ng-click="ctrl.correspondence(partner); ctrl.classActiv[$index]='active'">
											<div class="main-members-item-soc">
												<a href="">
													<img src="assets/angular-app/public/img/grey-heart.png" alt=""></a>
												<a href="">
													<img src="assets/angular-app/public/img/letter.png" alt=""></a>
											</div>
											<a href="" class="main-members-item-ava">
												<img src="http://irinadating.loc/upload/photos/{{partner.photoAvatar}}" alt="">
                      </a>
											<div class="main-members-info">
												<span class="online"></span>
                        <!-- <span ng-hide="partner.isOnline" class="offline"></span> -->
												<a href="#">{{partner.firstname}}, {{partner.age}}
													<span>ID {{partner.id}}</span>
												</a>
											</div>
                      <div ng-show="ctrl.isStartChat(partner)" class="main-members-chat-status status-4" ng-click="ctrl.sendRequest(partner.id);ctrl.requstInOnLine[$index]=true">Start chat</div>
                      <div ng-show="ctrl.isStartChat(partner)" class="main-members-chat-status status-5">Start Video<br/>Chat</div>
                      <div ng-show="ctrl.isWaitingRequest(partner, ctrl.user.user.additionalData.groupId)" class="main-members-chat-status status-3">Waiting Request<br/>Confirmation<br/></div>
											<div ng-show="ctrl.chattingNow(partner)" class="main-members-chat-status status-1">Chatting now</div>
											<div class="main-members-sms">3</div>
										</div>
                    </div>
										<!-- end members-item Online-->

                    <!-- members-item Request-->
                  <div class="box_directory" ng-show="ctrl.requestModel" ng-model="ctrl.requestModel">
                    <div class="main-members-item clearfix" ng-repeat="partner in ctrl.partners" ng-model="ctrl.requstInOnLine[$index]" ng-show="ctrl.acceptAndDeclineChat(partner, ctrl.user.user.additionalData.groupId)" ng-class="ctrl.classActiv[$index]" ng-click="ctrl.correspondence(partner); ctrl.classActiv[$index]='active'">
                      <div class="main-members-item-soc">
                        <a href="">
                          <img src="assets/angular-app/public/img/grey-heart.png" alt=""></a>
                        <a href="">
                          <img src="assets/angular-app/public/img/letter.png" alt=""></a>
                      </div>
                      <a href="" class="main-members-item-ava">
                        <img src="http://irinadating.loc/upload/photos/{{partner.photoAvatar}}" alt="" ng-click="ctrl.classActiv[$index]='active'">
                      </a>
                      <div class="main-members-info">
                        <span ng-show="partner.isOnline" class="online"></span>
                        <span ng-hide="partner.isOnline" class="offline"></span>
                        <a href="#">{{partner.firstname}}, {{partner.age}}
                          <span>ID {{partner.id}}</span>
                        </a>
                      </div>
                      <!-- <div ng-hide="ctrl.requstInOnLine[$index]" class="main-members-chat-status status-4" ng-click="ctrl.sendRequest(partner.id);ctrl.requstInOnLine[$index]=true">Start chat</div>
                      <div ng-hide="ctrl.requstInOnLine[$index]" class="main-members-chat-status status-5">Start Video<br/>Chat</div>
                      <div ng-show="ctrl.requstInOnLine[$index]" class="main-members-chat-status status-3">Waiting Request<br/>Confirmation<br/></div> -->
                  <!--    <div class="main-members-chat-status status-1">Chatting now</div> -->
                  <div class="main-members-chat-status status-8" ng-click="ctrl.approveRequest(partner.sessionId)">Accept Chat</div>
                      <div class="main-members-chat-status status-7" ng-click="ctrl.declineRequest(partner.sessionId)">Decline</div>
                      <div class="main-members-sms">3</div>
                    </div>
                  </div>
                    <!-- end members-item Request-->

                    <!-- members-item Recent-->
                  <div class="box_directory" ng-show="ctrl.recentModel" ng-model="ctrl.recentModel">
                    <div class="main-members-item clearfix" ng-repeat="partner in ctrl.partners" ng-model="ctrl.requstInOnLine[$index]" ng-show="partner.sessionId" ng-class="ctrl.classActiv[$index]" ng-click="ctrl.correspondence(partner); ctrl.classActiv[$index]='active'">
                      <div class="main-members-item-soc">
                        <a href="">
                          <img src="assets/angular-app/public/img/grey-heart.png" alt=""></a>
                        <a href="">
                          <img src="assets/angular-app/public/img/letter.png" alt=""></a>
                      </div>
                      <a href="" class="main-members-item-ava">
                        <img src="http://irinadating.loc/upload/photos/{{partner.photoAvatar}}" alt="">
                      </a>
                      <div class="main-members-info">
                        <span ng-show="partner.isOnline" class="online"></span>
                        <span ng-hide="partner.isOnline" class="offline"></span>
                        <a href="#">{{partner.firstname}}, {{partner.age}}
                          <span>ID {{partner.id}}</span>
                        </a>
                      </div>
                      <!-- <div ng-hide="ctrl.requstInOnLine[$index]" class="main-members-chat-status status-4" ng-click="ctrl.sendRequest(partner.id);ctrl.requstInOnLine[$index]=true">Start chat</div>
                      <div ng-hide="ctrl.requstInOnLine[$index]" class="main-members-chat-status status-5">Start Video<br/>Chat</div>
                      <div ng-show="ctrl.requstInOnLine[$index]" class="main-members-chat-status status-3">Waiting Request<br/>Confirmation<br/></div> -->
                  <!--    <div class="main-members-chat-status status-1">Chatting now</div> -->
                  <!-- <div class="main-members-chat-status status-6" ng-show="partner.sessionId">Accept<br/>Video Chat</div>
                      <div class="main-members-chat-status status-7">Decline</div> -->
                      <div ng-show="ctrl.isStartChat(partner)" class="main-members-chat-status status-4" ng-click="ctrl.sendRequest(partner.id);ctrl.requstInOnLine[$index]=true">Start chat</div>
                      <div ng-show="ctrl.isStartChat(partner)" class="main-members-chat-status status-5">Start Video<br/>Chat</div>
                      <div ng-show="ctrl.isWaitingRequest(partner, ctrl.user.user.additionalData.groupId)" class="main-members-chat-status status-3">Waiting Request<br/>Confirmation<br/></div>
                      <div ng-show="ctrl.chattingNow(partner)" class="main-members-chat-status status-1">Chatting now</div>

                     <!--  <div class="main-members-chat-status status-8" ng-show="partner.sessionId" ng-click="ctrl.approveRequest(partner.sessionId)">Accept Chat</div>
                      <div class="main-members-chat-status status-7" ng-show="partner.sessionId" ng-click="ctrl.declineRequest(partner.sessionId)">Decline</div> -->
                      <div class="main-members-sms">3</div>
                    </div>
                    </div>
                    <!-- end members-item Recent-->


									</div>
								</div>
							</div>
							<!-- end main left members list -->
						</div>
						<div class="col-sm-8 col-md-8 main-content-right">
							<div class="video-frame-container">
								<div class="video-frame-2 clearfix">
									<div class="video-frame-left">
										<img src="assets/angular-app/public/img/video-girl-girl.jpg" alt=""></div>
									<div class="video-frame-right-info">
										<a href="">{{ctrl.namePartner}}</a>
										<span ng-show="ctrl.namePartner">,</span>
										<span class="age">{{ctrl.partnerAge}}</span>

										<span>{{ctrl.partnerID}}</span>
										<div class="video-frame-bottom-info">
										<p>
											{{ctrl.namePartner}} typing ...
											<img src="assets/angular-app/public/img/video-girl-typing.png" alt=""></p>
										<button>Stop Video Chat</button>
										<button ng-click="ctrl.endChatSession(ctrl.sessionID)">End Conversations</button>
										</div>
									</div>
								</div>
								<div class="clear"></div>
								<div class="chat-field-container">
									<a href="#" class="chat-smile">
										<img src="assets/angular-app/public/img/smile.png" alt=""></a>
									<button class="btn-send" ng-click="ctrl.sendMsg(ctrl.partnerID ,ctrl.addMsgModel)" ng-model="ctrl.partnerID">Send</button>
									<input class="chat-field" ng-model=ctrl.addMsgModel></div>

								<p>
									* Each minute of chat is billed - 1 credit; With video - 5 credits
								</p>
							</div>
							<div class="chat-box-contaner">
								<div class="chat-box clearfix">
    <!-- <div>{{ctrl.messages}}</div> -->
                  <div ng-repeat="message in ctrl.messages">
                    <p ng-show="ctrl.dayShow(message.sentTime)" class="day">{{ctrl.functionDate(message.sentTime)}}</p>
									  <!-- chat-message -->
									  <div ng-class="{true:'chat-message-in clearfix', false:'chat-message-out clearfix'}[ctrl.addClassMessages(message.direction)]" >
										  <p ng-if="message.direction=='inbound'">{{ctrl.namePartner}}</p>
										  <div class="chat-message-box">{{message.content}}</div>
										  <span class="date">{{message.sentTime | date:'HH:mm'}}</span>
									  </div>
									  <!-- end chat-message -->
                  </div>



								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- end main -->

