		<!-- main -->
	<main>
  <!-- <div>{{ctrl.user.user.additionalData.groupId}}</div> -->
  <div>{{ctrl.partners}}</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main-content clearfix">
						<div class="col-sm-4 col-md-4 main-content-left">
							<!-- main left video frame-->
							<div class="main-video-frame-1">
								<div class="video-boy сlearfix">
									<img src="{{ctrl.user.user.mainphoto.pathOfQuad}}" alt="">
									<div class="video-boy-info">
										<div class="video-boy-info-left">
											<span ng-if="ctrl.user.user.additionalData.groupId==1"
                            ng-click="ctrl.allRequestDec(ctrl.partners)">
                      </span>
											<p>Turn off requests</p>
										</div>

										<p class="camera">
											<img src="assets/angular-app/public/img/video-boy-webcam.png" width="29" height="29" alt=""></p>
									</div>
								</div>
							</div>
							<!-- end main left video frame-->
							<!-- main left members list -->
							<div class="main-members-list">
								<ul class="main-members-nav">
									<li class="active">
										<a href="" ng-click="ctrl.changeDirectory1(1); ctrl.randomArr()">Online</a>
									</li>
									<li>
										<a href="" ng-click="ctrl.changeDirectory2(3)">Requests</a>
									</li>
									<li>
										<a href="" ng-click="ctrl.changeDirectory3(5)">Recent</a>
									</li>
								</ul>
								<div class="main-members-container">
									<div class="main-members-wrap active">

										<!-- members-item Online-->
                  <div class="box_directory" id="online" ng-show="ctrl.onlineModel" ng-model="ctrl.onlineModel">
										<!-- <div class="main-members-item clearfix" ng-repeat="partner in ctrl.partners" ng-model="ctrl.requstInOnLine[$index]" ng-show="partner.isOnline" ng-click="ctrl.correspondence(partner, $index, 0)"> -->
                    <div ng-class="{true: 'main-members-item active clearfix', false: 'main-members-item clearfix'} [ctrl.funcActivStatu(partner)]" ng-repeat="partner in ctrl.resultArr" ng-model="ctrl.requstInOnLine[$index]" ng-show="partner.isOnline" ng-click="ctrl.correspondence(partner, $index, 0)">
											<div class="main-members-item-soc">
												<a href="" ng-click="ctrl.addfavoritStatus(partner.id)">
													<img src="assets/angular-app/public/img/grey-heart.png" alt=""></a>
												<a href="/#/mail/{{partner.id}}">
													<img src="assets/angular-app/public/img/letter.png" alt=""></a>
											</div>
											<a href="" class="main-members-item-ava">
												<img src="{{ctrl.phtoPartner}}upload/photos/{{partner.photoAvatar}}" alt="">
                      </a>
											<div class="main-members-info">
												<span class="online"></span>
                        <a href="/#/girl/{{partner.firstname}}-{{partner.age}}-{{partner.girlId}}">{{partner.firstname}}, {{partner.age}}
													<span>ID {{partner.girlId}}</span>
												</a>
											</div>
                      <div ng-show="ctrl.isStartChat(partner)" class="main-members-chat-status status-4" ng-click="ctrl.sendRequest(partner.id);ctrl.requstInOnLine[$index]=true">Start chat</div>
                      <div ng-show="ctrl.isStartChat(partner)" class="main-members-chat-status status-5">Start Video<br/>Chat</div>
                      <div ng-show="ctrl.isWaitingRequest(partner, ctrl.user.user.additionalData.groupId)" class="main-members-chat-status status-3">Waiting Request<br/>Confirmation<br/></div>
											<div ng-show="ctrl.chattingNow(partner)" class="main-members-chat-status status-1">Chatting now</div>
											<!-- <div ng-show="ctrl.part[partner.id].newLetters" class="main-members-sms"></div> -->
                      <div ng-show="partner.unreadMsgsCount" class="main-members-sms" ng-bind="partner.unreadMsgsCount"></div>
										</div>
                    </div>
										<!-- end members-item Online-->

                    <!-- members-item Request-lady-->
                  <div class="box_directory" id="request" ng-show="ctrl.requestModel" ng-model="ctrl.requestModel">
                  <div ng-if="ctrl.user.user.additionalData.groupId==2">
                    <div ng-class="{true: 'main-members-item active clearfix', false: 'main-members-item clearfix'} [ctrl.funcActivStatu(partner)]" ng-repeat="partner in ctrl.partners" ng-model="ctrl.requstInOnLine[$index]" ng-show="ctrl.acceptAndDeclineChat2(partner)" ng-class="ctrl.classActiv[$index]" ng-click="ctrl.correspondence(partner, $index, 1)">
                      <div class="main-members-item-soc">
                        <a href="">
                          <img src="assets/angular-app/public/img/grey-heart.png" alt=""></a>
                        <a href="/#/mail/{{partner.id}}">
                          <img src="assets/angular-app/public/img/letter.png" alt=""></a>
                      </div>
                      <a href="" class="main-members-item-ava">
                        <img src="{{ctrl.phtoPartner}}upload/photos/{{partner.photoAvatar}}" alt="" ng-click="ctrl.classActiv[$index]='active'">
                      </a>
                      <div class="main-members-info">
                        <span ng-show="partner.isOnline" class="online"></span>
                        <span ng-hide="partner.isOnline" class="offline"></span>
                        <a href="/#/girl/{{partner.firstname}}-{{partner.age}}-{{partner.id}}">{{partner.firstname}}, {{partner.age}}
                          <span>ID {{partner.girlId}}</span>
                        </a>
                      </div>
                      <div class="main-members-chat-status status-8" ng-click="ctrl.approveRequest(partner.sessionId)">Accept Chat</div>
                      <div class="main-members-chat-status status-7" ng-click="ctrl.declineRequest(partner.sessionId)">Decline</div>
                      <!-- <div ng-show="partner.newLetters" class="main-members-sms"></div> -->
                      <div ng-show="partner.unreadMsgsCount" class="main-members-sms" ng-bind="partner.unreadMsgsCount"></div>
                    </div>
                  </div>
                  </div>
                    <!-- end members-item Request-lady-->

                    <!-- members-item Request-man-->
                  <div class="box_directory" id="request" ng-show="ctrl.requestModel" ng-model="ctrl.requestModel">
                  <div ng-if="ctrl.user.user.additionalData.groupId==1">
                    <div ng-class="{true: 'main-members-item active clearfix', false: 'main-members-item clearfix'} [ctrl.funcActivStatu(partner)]" ng-repeat="partner in ctrl.partners" ng-model="ctrl.requstInOnLine[$index]" ng-show="ctrl.acceptAndDeclineChat(partner, ctrl.user.user.additionalData.groupId)" ng-class="ctrl.classActiv[$index]" ng-click="ctrl.correspondence(partner, $index, 1)">
                      <div class="main-members-item-soc">
                        <a href="" ng-click="ctrl.addfavoritStatus(partner.id)">
                          <img src="assets/angular-app/public/img/grey-heart.png" alt=""></a>
                        <a href="/#/mail/{{partner.id}}">
                          <img src="assets/angular-app/public/img/letter.png" alt=""></a>
                      </div>
                      <a href="" class="main-members-item-ava">
                        <img src="{{ctrl.phtoPartner}}upload/photos/{{partner.photoAvatar}}" alt="" ng-click="ctrl.classActiv[$index]='active'">
                      </a>
                      <div class="main-members-info">
                        <span ng-show="partner.isOnline" class="online"></span>
                        <span ng-hide="partner.isOnline" class="offline"></span>
                        <a href="/#/girl/{{partner.firstname}}-{{partner.age}}-{{partner.girlId}}">{{partner.firstname}}, {{partner.age}}
                          <span>ID {{partner.girlId}}</span>
                        </a>
                      </div>
                      <div class="main-members-chat-status status-8" ng-click="ctrl.approveRequest(partner.sessionId)">Accept Chat</div>
                      <div class="main-members-chat-status status-7" ng-click="ctrl.declineRequest(partner.sessionId)">Decline</div>
                      <!-- <div ng-show="partner.newLetters" class="main-members-sms">3</div> -->
                      <div ng-show="partner.unreadMsgsCount" class="main-members-sms" ng-bind="partner.unreadMsgsCount"></div>
                    </div>
                  </div>
                  </div>
                    <!-- end members-item Request-man-->

                    <!-- members-item Recent-->
                  <div class="box_directory" ng-show="ctrl.recentModel" ng-model="ctrl.recentModel">
                    <div ng-class="{true: 'main-members-item active clearfix', false: 'main-members-item clearfix'} [ctrl.funcActivStatu(partner)]" ng-repeat="partner in ctrl.partners" ng-show="partner.sessionId"  ng-click="ctrl.correspondence(partner, $index, 2)">
                      <div class="main-members-item-soc">
                        <a href="">

                            <img
                            ng-click="ctrl.addfavoritStatus(partner.id)"
                           ng-hide="ctrl.addFavorit[$index]"
                           ng-mouseenter="ctrl.mouseenterFav($index)"
                           ng-mouseleave="ctrl.mouseleaveFav($index)"
                            src="assets/angular-app/public/img/grey-heart.png" alt="">

                            <img src="assets/angular-app/public/img/grey-like-message-grey.png"
                            ng-click="ctrl.addfavoritStatus(partner.id)"
                           ng-show="ctrl.addFavorit[$index]"
                           ng-mouseenter="ctrl.mouseenterFav($index)"
                           ng-mouseleave="ctrl.mouseleaveFav($index)"
                             alt=""></a>
                        <a ng-hide="ctrl.letterActiv[$index]"
                           ng-mouseenter="ctrl.mouseenterLetter($index)"
                           ng-mouseleave="ctrl.mouseleaveLetter($index)"
                           href="/#/mail/{{partner.id}}">
                            <img src="assets/angular-app/public/img/letter.png" alt=""></a>
                          <a ng-show="ctrl.letterActiv[$index]"
                           ng-mouseenter="ctrl.mouseenterLetter($index)"
                           ng-mouseleave="ctrl.mouseleaveLetter($index)"
                           href="/#/mail/{{partner.id}}">
                            <img src="assets/angular-app/public/img/red-letter.png" alt=""></a>
                      </div>
                      <a href="" class="main-members-item-ava">
                        <img src="{{ctrl.phtoPartner}}upload/photos/{{partner.photoAvatar}}" alt="">
                      </a>
                      <div class="main-members-info">
                        <span ng-show="partner.isOnline" class="online"></span>
                        <span ng-hide="partner.isOnline" class="offline"></span>
                        <a href="/#/girl/{{partner.firstname}}-{{partner.age}}-{{partner.girlId}}">{{partner.firstname}}, {{partner.age}}
                          <span>ID {{partner.girlId}}</span>
                        </a>
                      </div>

                      <div ng-show="ctrl.isStartChat(partner)" class="main-members-chat-status status-4" ng-click="ctrl.sendRequest(partner.id);ctrl.requstInOnLine[$index]=true">Start chat</div>
                      <div ng-show="ctrl.isStartChat(partner)" class="main-members-chat-status status-5">Start Video<br/>Chat</div>
                      <div ng-show="ctrl.isWaitingRequest(partner, ctrl.user.user.additionalData.groupId)" class="main-members-chat-status status-3">Waiting Request<br/>Confirmation<br/></div>
                             <div ng-show="ctrl.chattingNow(partner)" class="main-members-chat-status status-1">Chatting now</div>
                      <!-- <div ng-show="ctrl.part[partner.id].newLetters" class="main-members-sms"></div> -->
                      <div ng-show="partner.unreadMsgsCount" class="main-members-sms" ng-bind="partner.unreadMsgsCount"></div>
                    </div>


                    </div>
                    <!-- end members-item Recent-->


									</div>
								</div>
							</div>
							<!-- end main left members list -->
						</div>
						<div class="col-sm-8 col-md-8 main-content-right">
							<div class="video-frame-container">
								<div class="video-frame-2 clearfix">
									<div class="video-frame-left">
										<img src="{{ctrl.phtoPartner}}upload/photos/{{ctrl.photoAvatPartner}}" alt=""></div>
									<div class="video-frame-right-info">
										<a href="">{{ctrl.namePartner}}</a>
										<span ng-show="ctrl.namePartner">,</span>
										<span class="age">{{ctrl.partnerAge}}</span>

										<!-- <span>{{ctrl.partnerID}}</span> -->
										<div class="video-frame-bottom-info">
										<p>
											{{ctrl.namePartner}} typing ...
											<img src="assets/angular-app/public/img/video-girl-typing.png" alt=""></p>
										<button>Stop Video Chat</button>
										<button ng-click="ctrl.endChatSession(ctrl.sessionID)">End Conversations</button>
										</div>
									</div>
								</div>
								<div class="clear"></div>
								<div class="chat-field-container">
									<a href="#" class="chat-smile">
										<img src="assets/angular-app/public/img/smile.png" alt=""></a>
                  <button ng-show="ctrl.showButtonSend " class="btn-send" ng-click="ctrl.sendMsg(ctrl.partnerID ,ctrl.addMsgModel)" ng-model="ctrl.partnerID">Send</button>
									<button ng-hide="ctrl.showButtonSend" class="btn-send" ng-model="ctrl.partnerID">Send</button>
									<!-- <input class="chat-field" ng-minlength="1" ng-maxlength="400" ng-model=ctrl.addMsgModel ng-click="ctrl.saveNewMess()"> -->
                  <textarea class="chat-field" ng-minlength="1" ng-model=ctrl.addMsgModel></textarea>
                </div>

								<p>
									* Each minute of chat is billed - 1 credit; With video - 5 credits
								</p>
							</div>
							<div class="chat-box-contaner">
								<div class="chat-box clearfix">
    <!-- <div>{{ctrl.messages}}</div> -->
                  <div ng-repeat="message in ctrl.messages">
                    <!-- <p ng-show="ctrl.dayShow(message.sentTime)" class="day">{{ctrl.functionDate(message.sentTime)}}</p> -->
                    <p ng-show="message.sentTime2" class="day">{{message.sentTime | date: 'd.MM.yyyy'}}</p>
									  <!-- chat-message -->
									  <div ng-class="{true:'chat-message-in clearfix', false:'chat-message-out clearfix'}[ctrl.addClassMessages(message.direction)]" >
										  <!-- <p ng-if="message.direction=='inbound'">{{ctrl.namePartner}}</p> -->
                      <p ng-if="message.direction=='inbound'">{{ctrl.namePartnerFunc()}}</p>
										  <div class="chat-message-box">{{message.content}}</div>
										  <span class="date">{{message.sentTime | date:'HH:mm'}}</span>
									  </div>
									  <!-- end chat-message -->
                  </div>



								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- end main -->
