

	<!-- page-message -->
<main class="page-message page-blog contact-us">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="main-content clearfix">
					<div class="page-blog-head">
						<h1>Contact Us</h1>
					</div>
					<div class="line"></div>
					<div class="contact-us-content clearfix">
						<div class="row">
							<div class="col-md-5">
								<div class="contact-us-left-side">
									<p class="grey-18-Lt"><img src="assets/angular-app/public/img/skype-logo.png" alt=""><strong>irinadating</strong></p>
									<p class="grey-18-Lt mn-b-25"><img src="assets/angular-app/public/img/grey-letter.png" alt=""><strong>info@irinadating.com</strong></p>
									<div class="contact-us-info">
										<h5 class="red-21-Lt-w600">Ukraine</h5>
										<p class="grey-14-Lt mn-b-5"><strong>Address:</strong></p>
										<span class="grey-14-Lt">01004 Kiev<br>
										Saksaganskogo Str</span>
										<p class="grey-14-Lt mn-b-5 contact-us-phone"><strong>Phone number:</strong></p>
										<span class="grey-14-Lt">+38 (063) 277 57 67</span>
									</div>
									<div class="contact-us-info">
										<h5 class="red-21-Lt-w600">South Africa</h5>
										<p class="grey-14-Lt mn-b-5"><strong>Address:</strong></p>
										<span class="grey-14-Lt">
											7137 Western Cape,<br>
											Somerset West,<br>
											49 Vineyard Country Estate,<br>
											Helderview, Akasia Road.
										</span>
									</div>
									<div class="contact-us-info">
										<h5 class="red-21-Lt-w600">USA</h5>
										<p class="grey-14-Lt mn-b-5"><strong>Address:</strong></p>
										<span class="grey-14-Lt">
											USA P.O. Box:<br>
2166 Hexington, NC 27293
										</span>
										<p class="grey-14-Lt mn-b-5 contact-us-phone"><strong>Phone number:</strong></p>
										<span class="grey-14-Lt">+1 (855) 744 5529</span>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="contact-us-right-side">
									<div class="contact-us-right-side-header white-21-Lt">
										Do you have a question?
									</div>
									<div class="contact-us-right-side-content clearfix">

										<h5 class="red-21-Lt-w600">We want to hear from you!</h5>
										<label for="">Email Address<sup>*</sup></label>
										<input type="text" id="men-account-form-input" name="email" ng-model="ctrl.feedback.email">
										<label for="">How can we help you?*<sup>*</sup></label>

<ui-select ng-model="ctrl.country.selected" id="men-account-form-select" theme="selectize" ng-disabled="ctrl.disabled" style="width: 100%;" title="Choose ">
    <ui-select-match class="ui-select-match" placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices class="ui-select-choices" repeat="country in ctrl.countries | filter: $select.search">
      <span ng-bind-html="country.name | highlight: $select.search"></span>
      <small ng-bind-html="country.code | highlight: $select.search"></small>
    </ui-select-choices>
  </ui-select>
										<!-- <select name="" id="men-account-form-select"  ng-model="ctrl.feedback.subject">
											<option value="1">Mounth</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
										</select> -->



										<div class="online-status-right clearfix mn-b-50">
											<label for="">Please enter your inquiry/feedback here<sup>*</sup></label>
											<textarea class="online-status-right-descr" ng-model="ctrl.feedback.message" name="message" ng-minlength="1"></textarea>
											<div class="clearfix">
												<p class="online-status-p">limit - 1000 characters</p>
												<p class="online-status-p">396 Characters Remaining</p>
											</div>
										</div>
										<button class="btn-send" ng-click="ctrl.addFeedback(ctrl.feedback)">Submit</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</main>
<!-- end page-message -->

