
  <!-- page-message -->
<!-- <div>{{ctrl.user}}</div> -->


<main class="page-message" ng-show="ctrl.tumbler">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="main-content clearfix" id="main_box_tab">
            <div class="message-tabs">
              <div class="message-tabs-item" ng-click="ctrl.changeType('introductions'); ctrl.removeClassTab(0); ctrl.firstNamberPagin()">
                <p>Introductions <span ng-show="ctrl.messagesIntroductions.totalCount">({{ctrl.messagesIntroductions.totalNewCount}})</span></p>
              </div>
              <div class="message-tabs-item active" ng-click="ctrl.changeType('inbox'); ctrl.removeClassTab(1); ctrl.firstNamberPagin()">
                <p>Inbox <span ng-show="ctrl.messagesInbox.letters.length">({{ctrl.messagesInbox.totalNewCount}})</span></p>
              </div>
              <div class="message-tabs-item" ng-click="ctrl.changeType('outbox'); ctrl.removeClassTab(2); ctrl.firstNamberPagin()">
                <p>Sent</p>
              </div>
              <div class="message-tabs-item" ng-click="ctrl.changeType('deleted'); ctrl.removeClassTab(3); ctrl.firstNamberPagin()">
                <p>Deleted</p>
              </div>
            </div>
            <div class="message-sort clearfix">
              <div class="message-sort-left">
                <ul ng-if="ctrl.showTumblerCheck==true" class="message-sort-dropdown">
                  <li ng-click="ctrl.selectAllCheck()">
                    <a href="" >Select all</a>
                  </li>
                  <li ng-click="ctrl.readSelectCheck()">
                    <a href="" >Read</a>
                  </li>
                  <li ng-click="ctrl.unreadSelectCheck()">
                    <a href="" >Unread</a>
                  </li>
                  <li ng-click="ctrl.unselectCheck()">
                    <a href="" >Unselect</a>
                  </li>
                </ul>
                <div class="message-sort-left-1">
                  <label class="checkbox-1">
                      <input id="not_check_box" type="checkbox" ng-model="ctrl.deletedSelect" ng-click="ctrl.showSelectCheck()">
                      <span></span>
                  </label>
                  <i class="fa fa-caret-right" ng-click="ctrl.showSelectCheck()"></i>
                </div>
                <p class="p-sort" ng-click="ctrl.showFilter(ctrl.filterDiv)"><img src="assets/angular-app/public/img/calendar.png" alt="">Sort by Date</p>
                <!-- <p ng-class="{1:'p-delete text_color_black', 0:'p-delete'}[ctrl.classMessagesDeleted()]" ng-click="ctrl.deleteMessages()"><i class=" fa fa-caret-down" ></i><img src="assets/angular-app/public/img/delete.png" alt="">Delete</p> -->
                <p ng-show="ctrl.classMessagesDeleted()" class="p-delete text_color_black" ng-click="ctrl.deleteMessages()"><i class=" fa fa-caret-down" ></i><img src="assets/angular-app/public/img/imgpsh_fullsize.png" alt="">Delete</p>
                <p ng-hide="ctrl.classMessagesDeleted()" class="p-delete" ng-click="ctrl.classMessagesDeleted()" ng-hide="ctrl.deleteMessages()"><i class=" fa fa-caret-down" ></i><img src="assets/angular-app/public/img/delete.png" alt="">Delete</p>
              </div>
              <div class="message-sort-right">
                <a href="" class="prev" ng-click="ctrl.getPrevMessages()"><i class="fa fa-chevron-left"></i>prev</a>
              <ul >
                <li ng-repeat="page in ctrl.arrIndex" class="pagina" ng-click="ctrl.getIndexPage(page)"><a ng-class='{text_width: $first}'href="">{{page}}</a></li>
              </ul>
              <a href="" class="next" ng-click="ctrl.getNextMessages()"><i class="fa fa-chevron-right"></i>next</a>
              <p class="pages">1-20 of {{ctrl.messages.totalCount}}</p>
              </div>
            </div>
            <div class="message-filter clearfix" ng-show="ctrl.filterDiv">
              <a href="" class="active" ng-class="{true:'activ_message-filter'}[ctrl.onThisWeek]" ng-model="ctrl.onThisWeek" ng-click="ctrl.onThisWeekDate()">On this week</a>
              <a href="" class="on-last-week" ng-class="{true:'activ_message-filter'}[ctrl.onLastWeek]" ng-model="ctrl.onLastWeek" ng-click="ctrl.onLastWeekDate()">On last week</a>
              <div class="message-filter-select clearfix">
                <input ng-model="ctrl.fromDate" ui-date class="calendar_mail">
                <!-- <select name="" id="" class="selectpicker">
                  <option value="">From date</option>
                  <option value="">19</option>
                  <option value="">20</option>
                  <option value="">21</option>
                </select> -->
                <span class="message-filter-select-line"></span>
                <input ng-model="ctrl.toDate" ui-date class="calendar_mail">
                <!-- <select name="" id="" class="selectpicker">
                  <option value="">To Date</option>
                  <option value="">31</option>
                  <option value="">32</option>
                  <option value="">33</option>
                </select> -->
              </div>
              <p><a href="" class="active" ng-class="{true:'activ_sort_button'}[ctrl.watchInputDate(ctrl.fromDate, ctrl.toDate)]" ng-click="ctrl.showDate()">Sort</a><a href="" ng-click="ctrl.resetSortDate()">Reset</a></p>
  <!-- <div ng-click="ctrl.readTheLetter(19)">{{ctrl.messages.letters}}</div> -->

            </div>
<!-- <div>{{ctrl.messages}}</div> -->
            <div class="girls-messages">
              <div ng-repeat="messag in ctrl.messages.letters"
                   ng-class="{'girls-message-item': messag.isPaid==true, 'girls-message-item red-bg': messag.isPaid==false, 'girls-message-item active': messag.deleted}">
                <div class="girls-messega-item-content">
                  <div class="girls-message-checkbox">
                  <label class="checkbox-1">
                      <input type="checkbox" ng-model="messag.deleted">
                      <span></span>
                  </label>
                </div>
                <ul class="tooltips-list">
                  <li>
                    <p class="tooltips add-f">Add to favorites</p>
                    <a href="#" class="add-f-icon"></a></li>
                  <li>
                    <p class="tooltips add-gift">Send a gift</p><a href="#" class="add-f-gift"></a></li>
                  <li>
                    <p class="tooltips add-chat">Chat</p>
                    <a href="#" class="add-f-chat"></a></li>
                </ul>
                <img src="{{messag.sender.mainphoto.pathOfQuad}}" alt="">
                <div class="girls-message-item-info">
                  <div>
                    <a href="/#/girl/{{messag.sender.firstname}}-{{ctrl.agePerson(messag.sender.birthdate)}}-{{messag.sender.country.name}}-{{messag.sender.city}}-{{messag.sender.girl.id}}" ng-hide="ctrl.addRecipient(ctrl.user.user.id, messag.sender.id )">
                      <span ng-hide="ctrl.addRecipient(ctrl.user.user.id, messag.sender.id )">{{messag.sender.firstname}}</span>, {{ctrl.agePerson(messag.sender.birthdate)}}
                    </a>
                    <a href="" ng-show="ctrl.addRecipient(ctrl.user.user.id, messag.sender.id)"><span>{{ctrl.user.user.firstname}}</span></a>
                    <p><span></span>online</p>
                  </div>
                  <a href="#">{{messag.sender.country.name}}, {{messag.sender.city}}</a>
                  <div class="clear" ng-show="messag.isPaid"></div>
                  <span ng-show="messag.isPaid">{{ctrl.letterTextSlice(messag.additionalData.text)}}</span>
                </div>
                <p class="girl-message-date" ng-show="messag.isPaid">{{messag.createdAt| date:'yyyy-MM-dd HH:mm'}}</p>
                <a href="" class="girl-message-photo" ng-show="messag.isPaid"><img src="assets/angular-app/public/img/photo.png" alt=""><span>3</span></a>
                 <a href="" class="new" ng-hide="messag.isPaid" ng-click="ctrl.payment(messag.id, messag.senderId)">NEW</a>
                <button class="btn-send"ng-hide="messag.isPaid" ng-click="ctrl.payment(messag.id, messag.senderId)">Read the letter</button>
                <button class="btn-send"ng-show="messag.isPaid" ng-click="ctrl.readTheLetter(messag.id, messag.senderId)">Read the letter</button>

                </div>
              </div>
<!-- ctrl.payment(messag.id) -->
            </div>
          </div>
        </div>
    </div>
  </div>
</main>
<!-- end page-message -->


<main class="page-message conversation chat-with-girl" ng-hide="ctrl.tumbler">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="main-content clearfix">
            <div class="message-tabs">
              <div class="message-tabs-item" ng-click="ctrl.changeType('introductions');
              ctrl.removeClassTab(0)">
                <p>Introductions<span ng-show="ctrl.messagesIntroductions.letters.length">({{ctrl.messagesIntroductions.letters.length}})</span></p>
              </div>
              <div class="message-tabs-item" ng-click="ctrl.changeType('inbox'); ctrl.removeClassTab(1)">
                <p>Inbox <span ng-show="ctrl.messagesInbox.letters.length">({{ctrl.messagesInbox.totalNewCount}})</span></p>
              </div>
              <div class="message-tabs-item" ng-click="ctrl.changeType('outbox');
              ctrl.removeClassTab(2)">
                <p>Sent</p>
              </div>
              <div class="message-tabs-item" ng-click="ctrl.changeType('deleted'); ctrl.removeClassTab(3)">
                <p>Deleted</p>
              </div>
            </div>
            <div class="line"></div>
            <div class="girls-messages">
              <div class="girls-message-item">
                <!-- <div class="girls-message-checkbox">
                  <label class="checkbox-1">
                      <input type="checkbox">
                      <span></span>
                  </label>
                </div> -->
                <div class="girls-messega-item-content">
                <ul>
                  <li><a href="#"><img src="assets/angular-app/public/img/grey-like-message.png" alt=""></a></li>
                  <li><a href="#"><img src="assets/angular-app/public/img/grey-box-message.png" alt=""></a></li>
                  <li><a href="#"><img src="assets/angular-app/public/img/grey-comments-message.png" alt=""></a></li>
                  <li><a href="#"><img src="assets/angular-app/public/img/grey-like2.png" alt=""></a></li>
                </ul>

                <div class="girl-message-img">

                  <img width="130" height="130" src="{{ctrl.messagesId.letter.sender.mainphoto.pathOfQuad}}" alt="">
                  <a href="#" class="girl-message-photo">
                    <p>Attached files</p>
                    <img src="assets/angular-app/public/img/photo.png" alt="" class="mn-t-10"><span>3</span></a>
                </div>

                <div class="girls-message-item-info">
                  <div>
                    <a href="/#/girls/{{ctrl.messagesId.letter.sender.girl.id}}"><span>{{ctrl.messagesId.letter.sender.firstname}}</span>, {{ctrl.agePerson(ctrl.messagesId.letter.sender.birthdate)}}</a>
                    <p><span></span>online</p>
                  </div>
                  <a href="#">{{ctrl.messagesId.letter.sender.country.name}}, {{ctrl.messagesId.letter.sender.city}}</a>
                  <div class="clear"></div>
                  <span>
                    {{ctrl.messagesId.letter.additionalData.text}}
                  </span>
                </div>
                <p class="girl-message-date">{{ctrl.messagesId.letter.createdAt | date:'yyyy-MM-dd HH:mm'}}</p>
                <!-- <button class="btn-send">Read the letter</button> -->
                </div>
              </div>
<!-- <div>{{ctrl.messagesId}}</div> -->
              <div class="send-message" ng-hide="ctrl.showSendMessage(ctrl.messagesId.letter.senderId, ctrl.user.user.id)">
                <h4><img src="assets/angular-app/public/img/red-pensil.png" alt="">Send Message to {{ctrl.messagesId.letter.sender.firstname}}</h4>

                <textarea type="text" class="send-message-input" ng-class="{'textarea_pink': ctrl.textArea}" ng-model="ctrl.newMessage" ng-minlength="1"></textarea>
                <p class="area-info">Files in GIF, JPG and PNG maximum 4096 KB size. Attach TWO photos for free. 10 credits will be deducted from your account for each additional photo</p>
                <div class="attach-button" ng-click="ctrl.showList()">Attach photo</div>
                <ul class="choose-files-list" ng-show="ctrl.listDiv">
                  <li><img src="assets/angular-app/public/img/check-mark.png" alt="" class="choose-arrow"><a href="#"><img src="img/photo-icon.png" alt="">Choose files</a><span>Someone name.jpg <img src="assets/angular-app/public/img/delete.png" alt=""></span></li>
                  <li><img src="assets/angular-app/public/img/check-mark.png" alt="" class="choose-arrow"><a href="#"><img src="assets/angular-app/public/img/photo-icon.png" alt="">Choose files</a><span>Someone name.jpg <img src="assets/angular-app/public/img/delete.png" alt=""></span></li>
                  <li class="not-choose"><a href="#"><img src="assets/angular-app/public/img/grey-heart-in.png" alt="">Choose files</a><span>Someone name</span></li>
                  <li class="not-choose"><a href="#"><img src="assets/angular-app/public/img/grey-heart-in.png" alt="">Choose files</a><span>Someone name</span></li>
                  <li class="not-choose"><a href="#"><img src="assets/angular-app/public/img/grey-heart-in.png" alt="">Choose files</a><span>Someone name</span></li>
                </ul>

                <button class="btn-send" ng-click="ctrl.addMessage(ctrl.messagesId.letter.senderId)">Send</button>

              </div>
              <div class="history clearfix" ng-hide="ctrl.showSendMessage(ctrl.messagesId.letter.senderId, ctrl.user.user.id)">
                <h4><img src="assets/angular-app/public/img/clock-icon.png" alt="">Correspondence history</h4>
                <p class="p-sort" ng-click="ctrl.showFilter(ctrl.filterDiv)"><img src="assets/angular-app/public/img/calendar.png" alt="">Sort by Date<i class="fa fa-caret-down"></i></p>
              </div>
              <div class="message-filter clearfix" ng-show="ctrl.filterDiv">
                <a href="" class="active" ng-class="{true:'activ_message-filter'}[ctrl.onThisWeek]" ng-model="ctrl.onThisWeek" ng-click="ctrl.onThisWeekDate()">On this week</a>
                <a href="" class="on-last-week" ng-class="{true:'activ_message-filter'}[ctrl.onLastWeek]" ng-model="ctrl.onLastWeek" ng-click="ctrl.onLastWeekDate()">On last week</a>
                <div class="message-filter-select clearfix">
                  <input ng-model="ctrl.fromDate" ui-date class="calendar_mail">
                  <span class="message-filter-select-line"></span>
                  <input ng-model="ctrl.toDate" ui-date class="calendar_mail">
                </div>
                <p class="message-filter-sort-end">
                  <a href="" class="active" ng-class="{true:'activ_sort_button'}[ctrl.watchInputDate(ctrl.fromDate, ctrl.toDate)]" ng-click="ctrl.showDate()">Sort</a>
                  <a href="" ng-click="ctrl.resetSortDate()">Reset</a>
                </p>
              </div>
<!-- <div>{{ctrl.letterCor.letters[0]}}</div> -->
              <div class="dialog-container">
                <div ng-repeat="letter in ctrl.letterCor.letters" ng-class="{0:'dialog-item dialog-item-out clearfix', 1:'dialog-item dialog-item-in clearfix', 2:'dialog-item dialog-item-in dialog-red-fl clearfix'}[ctrl.addClass(ctrl.user.user.id, letter.senderId, letter.isPaid)]" class="dialog-item">
                  <img src="{{letter.sender.mainphoto.pathOfQuad}}" alt="" class="img-dialog">

                  <div class="girls-message-item-info open clearfix">
                    <div>
                      <a href="/#/girls/{{letter.sender.girl.id}}" ng-click="ctrl.girlsIdGet(letter.senderId)"><span>{{letter.sender.firstname}}</span></a>
                    </div>
                    <div class="clear"></div>
                    <p class="girls-message-item-descr" ng-show="letter.isPaid" ng-model="ctrl.switchComment[$index]">{{ctrl.letterTextSlice(letter.additionalData.text, ctrl.switchComment[$index])}}
                      <a ng-hide="ctrl.switchComment[$index] || ctrl.switchMore(letter.additionalData.text)" href="" ng-click="ctrl.switchComment[$index]=true" class="message-toggle">&nbsp;more<i class="fa fa-chevron-right"></i>
                      </a>
                      <a ng-show="ctrl.switchComment[$index] " href="" ng-click="ctrl.switchComment[$index]=false" class="message-toggle">&nbsp;hide<i class="fa fa-chevron-up"></i>
                      </a>
                    </p>

                    <p class="girl-message-date" ng-show="letter.isPaid">{{letter.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                    <a href="#" ng-show="letter.isPaid" class="girl-message-photo"><img src="assets/angular-app/public/img/photo.png" alt="" class="mn-t-10"><span>3</span></a>
                    <a href="#" ng-hide="letter.isPaid" class="new">NEW</a>
                    <button class="btn-send"ng-hide="letter.isPaid" ng-click="ctrl.payment(letter.id, sender.senderId)">Read the letter</button>
                  </div>
                </div>

                <button ng-hide="ctrl.buttonAddLetter" class="button_add_letter" ng-click="ctrl.paginaLetterCor()" ng-model="ctrl.buttonAddLetter">Ещё</button>

              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</main>






