<form>
<!-- action="api/photos" method="post" -->


  <input type="file" img-cropper-fileread image="cropper.sourceImage">
  <!-- <input type="file" ng-model="cropper.sourceImage"  name="photo" base-sixty-four-input> -->
  <!-- <input type="file" ng-model="cropper.sourceImage"  name="photo"> -->
  <div>
     <canvas width="500" height="300" id="canvas" image-cropper="" image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="420" crop-height="420" min-width="100" min-height="100" keep-aspect="true" crop-area-bounds="bounds" class="ng-isolate-scope"></canvas>
  </div>
  <div>Cropped Image (Left: {{bounds.left}} Right: {{bounds.right}} Top: {{bounds.top}} Bottom: {{bounds.bottom}})</div>
  <div ng-show="cropper.croppedImage!=null"><img ng-src="{{cropper.croppedImage}}" /></div>
  <input type="checkbox" ng-model="ctrl.isMainPhoto">
  <input type="submit" ng-click='ctrl.postPhoto($event)'>
</form>

