<!-- <header ng-if="$root.global2==undefind" class="home-page"> -->
<header class="home-page">

    <div class="container">
      <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- small-menu -->
          <a href="#" class="small-menu">
            <span></span>
            <span></span>
            <span></span>
          </a>
          <!-- end small-menu -->
          <!-- logo -->
          <a href="/home/-ag-18-30-co-Ukraine" class="header--logo">
            <img src="assets/angular-app/public/img/logo.png"  alt=""></a>
          <!-- end logo -->
          <!-- navigation -->
          <nav class="header--nav">
            <ul class="clearfix">
              <li>
                <a href="/home/-ag-18-30-co-Ukraine">Ladies</a>
              </li>
              <li>
                <a href="#">Chat</a>
              </li>
              <li>
                <a href="#">Special Offers</a>
              </li>
            </ul>
          </nav>
          <!-- end navigation -->

          <div class="header--profile">

          <div class="header--profile-info">
            <a href="">Login</a>
          &nbsp;  |&nbsp;&nbsp;
          <a href="#">Register</a>
        </div>
      </div>
      <!-- end header-profile info -->
    </div>
  </div>
</div>
</header>
<!-- end header for not logined used-->
<!-- header for man-->
  <header ng-if="$root.global2.user.additionalData.groupId==1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- small-menu -->
          <a href="#" class="small-menu">
            <span></span>
            <span></span>
            <span></span>
          </a>
          <!-- end small-menu -->
          <!-- logo -->
          <!-- <a ui-sref="main" class="header--logo"> -->
          <a href="/#/girls/-ag-18-30-co-Ukraine" class="header--logo">
            <img src="assets/angular-app/public/img/logo.png"  alt=""></a>
          <!-- end logo -->
          <!-- navigation -->
          <nav class="header--nav">
            <ul class="clearfix">
              <li>
                <a href="/#/girls/-ag-18-27-co-Ukraine">Ladies</a>
              </li>
              <li>
                <a href="/#/search/-ag-18-30-co-Ukraine">Search</a>
              </li>
              <li>
                <a href="/#/man">Mail</a>
              </li>
              <li>
                <a href="/#/chat">Chat</a>
              </li>
              <li>
                <a href="">Gifts Delivery</a>
              </li>
              <li>
                <a id="not_check_box" href="">Offers</a>
              </li>
            </ul>
          </nav>
          <!-- end navigation -->
          <!-- header-profile info -->
          <div class="header--profile">
            <div class="header--profile-img-likes">
              <a href="#">
                <img src="{{$root.global2.user.mainphoto.pathOfQuad}}" width="40" height="40" alt=""></a>
              <div class="header--heart">
                <p>
                  <img src="assets/angular-app/public/img/header-heart.png" alt=""></p>
                <p>2000</p>
              </div>

            </div>
            <div class="header--profile-info">
              <p>
                Welcome,
                <span>{{$root.global2.user.firstname}} {{$root.global2.user.lastname}}</span>
              </p>
              <a href="/#/men-account">My Profile</a>
              &nbsp;  |&nbsp;&nbsp;
              <a href="http://irinadating.loc/index/logout" target="_self">
              <!-- <a href="http://irinadating.loc/#/log_out" ng-click="$root.userLogout()"> -->
                <span>Log out</span>
              </a>
            </div>
          </div>
          <!-- end header-profile info -->
        </div>
      </div>
    </div>
  </header><!--
  <!-- end header for man-->

<!-- header for lady-->
  <header ng-if="$root.global2.user.additionalData.groupId==2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- small-menu -->
          <a href="#" class="small-menu">
            <span></span>
            <span></span>
            <span></span>
          </a>
          <!-- end small-menu -->
          <!-- logo -->
          <a href="/#/girls/-ag-18-27-co-Ukraine" class="header--logo">
            <img src="assets/angular-app/public/img/logo.png"  alt=""></a>
          <!-- end logo -->
          <!-- navigation -->
          <nav class="header--nav">
            <ul class="clearfix">
              <li>
                <a href="">Men</a>
              </li>

              <li>
                <a href="/#/lady">Mail</a>
              </li>
              <li>
                <a href="/#/chat">Chat</a>
              </li>

            </ul>
          </nav>
          <!-- end navigation -->
          <!-- header-profile info -->
          <div class="header--profile">
            <div class="header--profile-img-likes">
              <a href="#">
                <img src="{{$root.global2.user.mainphoto.pathOfQuad}}" width="40" height="40" alt=""></a>
              <div class="header--heart">
                <p>
                  <img src="assets/angular-app/public/img/header-heart.png" alt=""></p>
                <p>2000</p>
              </div>

            </div>
            <div class="header--profile-info">
              <p>
                Welcome,
                <span>{{$root.global2.user.firstname}} {{$root.global2.user.lastname}}</span>
              </p>
              <a href="/#/form">My Profile</a>
              &nbsp;  |&nbsp;&nbsp;
              <a href="http://irinadating.loc/index/logout" target="_self">
                <span>Log out</span>
              </a>
            </div>
          </div>
          <!-- end header-profile info -->
        </div>
      </div>
    </div>
  </header>
  <!-- end header for lady -->