<div class="home-page">
<!-- promo -->
<div class="promo">
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="promo--left-side">

				<div class="form-register">
					<div class="form-register-tabs">
						<button ng-class="{'active': ctrl.formUseModel==false}" ng-click="ctrl.formUser()">Register</button>
						<button ng-class="{'active': ctrl.formUseModel==true}" ng-click="ctrl.formUser()">Login</button>
					</div>
					<form ng-show="ctrl.formUseModel" action="" method="post" class="form-reg">
						<label for="">User name</label>
						<input type="text" name="email" ng-model="ctrl.regisUser.name">
						<label for="">User email</label>
						<input type="text" ng-model="ctrl.regisUser.email">
						<label for="">Password</label>
						<input type="password" name="password" ng-model="ctrl.regisUser.password" ng-minlength="4">
						<input type="button" value="Start dating!" ng-click="ctrl.registUser(ctrl.regisUser)">

            <div vc-recaptcha key="ctrl.recaptchaKey" ng-model="ctrl.myRecaptchaResponse"></div>
            <!-- <div vc-recaptcha key="'6LeKeR0TAAAAAKTzT16ysklE14u7stpxQ5wuuF7j'" ng-model="ctrl.myRecaptchaResponse"></div> -->
  <!-- action="/index/signin" method="post" -->
          </form>
					<form ng-hide="ctrl.formUseModel" action="/index/signin" method="post" class="form-login">
						<div class="sing-in clearfix">
							<p>Sign In with</p>
							<a href="#" class="fb"></a>
							<a href="#" class="g-plus"></a>
							<p>or</p>
						</div>
						<div class="clear"></div>
						<label for="">User email</label>
						<input type="text" ng-model="ctrl.User.name2" name="email">
						<label for="">Password</label>
						<input type="password" ng-model="ctrl.User.password2" name="password" ng-minlength="4">
						<div class="form-login-bottom clearfix">

							<label for="" class="checkbox-login">
								<input type="checkbox">
								<span class="box"></span>
								Remember me
							</label>
							<a href="">Forgot password</a>
						</div>
						<input type="submit" value="Log In" ng-click="ctrl.loginUser(ctrl.User)"></form>
				</div>
			</div>
		</div>
		<div class="col-md-7 col-md-offset-1">
			<div class="promo--right-side">
				<h1>World’s most beautiful</h1>
				<p>Ukrainian & Russian women</p>
				<ul>
					<li>
						<span></span>
						The best secure online dating
					</li>
					<li>
						<span></span>
						Anti-scam & refund policy
					</li>
					<li>
						<span></span>
						Multi-layered 3D secure for credit cards
					</li>
				</ul>

			</div>
		</div>
	</div>
</div>
</div>
<!-- end promo -->
<!-- filter girls -->
<section class="filter-girls">
<div class="filter-girls-wrap">
	<div class="container">
		<div class="row">
    <!-- <div>{{ctrl.girlsAll.girls.length}}</div> -->
			<div class="col-md-12">
				<div class="filter-girls-container">
					<div class="filter-girls-filter clearfix">
						<div class="col-md-3 age-container">
							<div class="age clearfix">
								<p>Age</p>
                <div class="select_box_inline">
                <ui-select ng-model="ctrl.fromDateModel"  theme="selectize" ng-disabled="ctrl.disabled" style="width: 70px;" title="Choose age">
                  <ui-select-match class="ui-select-match" placeholder="Select age...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices class="ui-select-choices" repeat="age in ctrl.listAge | filter: $select.search">
                  <span ng-bind-html="age.name | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
                </div>
								<span class="age-line">-</span>
                <div class="select_box_inline">
                <ui-select ng-model="ctrl.toDateModel"  theme="selectize" ng-disabled="ctrl.disabled" style="width: 70px;" title="Choose age">
                  <ui-select-match class="ui-select-match" placeholder="Select age...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices class="ui-select-choices" repeat="age in ctrl.listAge | filter: $select.search">
                  <span ng-bind-html="age.name | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
                </div>
								<!-- <select ng-model="ctrl.toDateModel">
                  <option ng-repeat="age in ctrl.listAge" value="{{age}}">{{age}}</option>
                </select> -->
							</div>
						</div>
						<div class="col-md-3 from-container">
							<div class="from">
								<p>From</p>
                <div class="select_box_inline">
                <ui-select ng-model="ctrl.countryModel" theme="selectize" ng-disabled="ctrl.disabled" style="width: 150px;" title="Choose country">
                  <ui-select-match class="ui-select-match" placeholder="Select country...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices class="ui-select-choices" repeat="country in ctrl.countries.countries | filter: $select.search">
                  <span ng-bind-html="country.name | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
                </div>
							</div>
						</div>
						<div class="col-md-3">
							<button class="btn-search" ng-click="ctrl.searchGirls('/home/')">Search</button>
						</div>
						<div class="col-md-3">
							<button class="btn-adv">Advanced Search</button>
						</div>
					</div>
					<!-- girls -->
					<div class="girls clearfix">
            <div class="col-md-3"ng-repeat="girl in ctrl.girlsAll.girls">
              <div class="girl-item">
                <img src="{{girl.photoAvatar}}" alt="">
                <div class="girls-info clearfix">
                  <div class="girls-fix-info">
                    <ul ng-if="$root.global2.user.additionalData.groupId==1"class="tooltips-list">
                      <li>
                        <p class="tooltips add-f">Add to favorites</p>
                        <a href="#" class="add-f-icon"></a></li>
                      <li>
                        <p class="tooltips add-gift">Send a gift</p><a href="#" class="add-f-gift"></a></li>
                      <li>
                        <p class="tooltips add-chat">Chat</p>
                        <a href="#" class="add-f-chat"></a></li>
                      <li>
                        <p class="tooltips add-message">Send message</p>
                        <a href="/#/mail/{{girl.id}}" class="add-f-message"></a></li>
                    </ul>
                     <ul ng-if="$root.global2.user.additionalData.groupId!=1"class="tooltips-list">
                      <li>
                        <p class="tooltips add-f">Add to favorites</p>
                        <a href="#" class="add-f-icon"></a></li>
                      <li>
                        <p class="tooltips add-gift">Send a gift</p><a href="#" class="add-f-gift"></a></li>
                      <li>
                        <p class="tooltips add-chat">Chat</p>
                        <a href="#" class="add-f-chat"></a></li>
                      <li>
                        <p class="tooltips add-message">Send message</p>
                        <a href="" class="add-f-message"></a></li>
                    </ul>
                  </div>
                  <span class="status online"></span>
                  <div class="girl-info-cont">
                    <a href="/#/girlsView/{{girl.user.firstname}}-{{ctrl.agePerson(girl.user.birthdate)}}-{{girl.user.country.name}}-{{girl.user.city}}-{{girl.id}}"><p>{{girl.user.firstname}}, {{ctrl.agePerson(girl.user.birthdate)}}</p>
                    <p class="girl-location">{{girl.user.country.name}}, {{girl.user.city}}</p></a>
                  </div>
                  <a ng-if="$root.global2.user.additionalData.groupId==1" href="" class="like">
                    <img src="assets/angular-app/public/img/like.png" alt=""></a>
                </div>
              </div>
            </div>
            <!-- end girl-item -->

<!-- end girl-item -->
</div>
<!-- end girls -->
<div class="girls-arrow" ng-hide="ctrl.buttonAdd" ng-click="ctrl.paginaGirl()" ng-model="ctrl.buttonAdd">
<img src="assets/angular-app/public/img/girls-arrow.png" alt=""></div>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- filter girls -->
<!-- reviews -->
<section class="reviews">
<div class="container">
<div class="row">
<div class="col-md-12">

<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<!-- reviews-item -->
<div class="col-md-11">
<div class="reviews-item">
<div class="reviews-author clearfix">
<img src="assets/angular-app/public/img/reviews-img-1.png" alt="">
<p>Rick,</p>
<p>Kanada</p>
</div>
<div class="reviews-descr">
<img src="assets/angular-app/public/img/reviews-quats.png" alt="">
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco aliquipquia consequuntur magni dolores. eos qui ratione voluptatem sequi nesciunt.
</p>
</div>
</div>

</div>
<!-- end reviews-item -->
</div>
<div class="item">
<!-- reviews-item -->
<div class="col-md-11">
<div class="reviews-item">
<div class="reviews-author clearfix">
<img src="assets/angular-app/public/img/reviews-img-2.png" alt="">
<p>Met D.</p>
<p>USA</p>
</div>
<div class="reviews-descr">
<img src="assets/angular-app/public/img/reviews-quats.png" alt="">
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco aliquipquia consequuntur magni dolores. eos qui ratione voluptatem sequi nesciunt.
</p>
</div>
</div>

</div>
<!-- end reviews-item -->
</div>
<div class="item">
<!-- reviews-item -->
<div class="col-md-11">
<div class="reviews-item">
<div class="reviews-author clearfix">
<img src="assets/angular-app/public/img/reviews-img-1.png" alt="">
<p>Rick,</p>
<p>Kanada</p>
</div>
<div class="reviews-descr">
<img src="assets/angular-app/public/img/reviews-quats.png" alt="">
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco aliquipquia consequuntur magni dolores. eos qui ratione voluptatem sequi nesciunt.
</p>
</div>
</div>

</div>
<!-- end reviews-item -->
</div>
<div class="item">
<!-- reviews-item -->
<div class="col-md-11">
<div class="reviews-item">
<div class="reviews-author clearfix">
<img src="assets/angular-app/public/img/reviews-img-2.png" alt="">
<p>Met D.</p>
<p>USA</p>
</div>
<div class="reviews-descr">
<img src="assets/angular-app/public/img/reviews-quats.png" alt="">
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco aliquipquia consequuntur magni dolores. eos qui ratione voluptatem sequi nesciunt.
</p>
</div>
</div>

</div>
<!-- end reviews-item -->
</div>
<div class="item">
<!-- reviews-item -->
<div class="col-md-11">
<div class="reviews-item">
<div class="reviews-author clearfix">
<img src="assets/angular-app/public/img/reviews-img-1.png" alt="">
<p>Rick,</p>
<p>Kanada</p>
</div>
<div class="reviews-descr">
<img src="assets/angular-app/public/img/reviews-quats.png" alt="">
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco aliquipquia consequuntur magni dolores. eos qui ratione voluptatem sequi nesciunt.
</p>
</div>
</div>

</div>
<!-- end reviews-item -->
</div>
<div class="item">
<!-- reviews-item -->
<div class="col-md-11">
<div class="reviews-item">
<div class="reviews-author clearfix">
<img src="assets/angular-app/public/img/reviews-img-2.png" alt="">
<p>Met D.</p>
<p>USA</p>
</div>
<div class="reviews-descr">
<img src="assets/angular-app/public/img/reviews-quats.png" alt="">
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco aliquipquia consequuntur magni dolores. eos qui ratione voluptatem sequi nesciunt.
</p>
</div>
</div>

</div>
<!-- end reviews-item -->
</div>

</div>

<div class="customNavigation">
<a class="btn prev"></a>
<a class="btn next"></a>

</div>
<a href="#" class="leave-test"><img src="assets/angular-app/public/img/pensil.png" alt="">Leave your Testimonial</a>
</div>
</div>
</div>
</section>
<section class="stories">
  <h1>Success stories</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="stories-container clearfix">
        <div id="owl-demo2" class="owl-carousel owl-theme">
<div class="item">

          <div class="stories-left-side">
            <img src="assets/angular-app/public/img/stories-happy.jpg" alt="">
            <p class="stories-date">May, 2015</p>
          </div>
          <div class="stories-right-side">
            <p>Anna and Rick</p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco aliquipquia consequuntur magni dolores. eos qui ratione voluptatem sequi nesciunt.
Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</span>
<a href="#">Read more...</a>
          </div>
        </div>

      <div class="item">

          <div class="stories-left-side">
            <img src="assets/angular-app/public/img/stories-happy.jpg" alt="">
            <p class="stories-date">May, 2015</p>
          </div>
          <div class="stories-right-side">
            <p>Anna and Rick</p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco aliquipquia consequuntur magni dolores. eos qui ratione voluptatem sequi nesciunt.
Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</span>
<a href="#">Read more...</a>
          </div>
        </div>

      <div class="item">

          <div class="stories-left-side">
            <img src="assets/angular-app/public/img/stories-happy.jpg" alt="">
            <p class="stories-date">May, 2015</p>
          </div>
          <div class="stories-right-side">
            <p>Anna and Rick</p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco aliquipquia consequuntur magni dolores. eos qui ratione voluptatem sequi nesciunt.
Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</span>
<a href="#">Read more...</a>
          </div>
        </div>

      <div class="item">

          <div class="stories-left-side">
            <img src="assets/angular-app/public/img/stories-happy.jpg" alt="">
            <p class="stories-date">May, 2015</p>
          </div>
          <div class="stories-right-side">
            <p>Anna and Rick</p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco aliquipquia consequuntur magni dolores. eos qui ratione voluptatem sequi nesciunt.
Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</span>
<a href="#">Read more...</a>
          </div>
        </div>
      </div>
<!--      <div class="customNavigation">
<a class="btn prev"></a>
<a class="btn next"></a>

</div> -->
    </div>

  </div>
</section>
</div>
  <script src="assets/angular-app/public/js/owl.carousel.min.js"></script>
  <script src="assets/angular-app/public/js/main2.js"></script>


