<header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- small-menu -->
          <a href="#" class="small-menu">
            <span></span>
            <span></span>
            <span></span>
          </a>
          <!-- end small-menu -->
          <!-- logo -->
          <a ui-sref="main" class="header--logo">
            <img src="assets/angular-app/public/img/logo.png"  alt=""></a>
          <!-- end logo -->
          <!-- navigation -->
          <nav class="header--nav">
            <ul class="clearfix">
              <li>
                <a href="#">Ladies</a>
              </li>
              <li>
                <a href="#">Search</a>
              </li>
              <li>
                <a ui-sref="e-mail">Mail</a>
              </li>
              <li>
                <a href="#">Chat</a>
              </li>
              <li>
                <a href="#">Gifts Delivery</a>
              </li>
              <li>
                <a href="#">Offers</a>
              </li>
            </ul>
          </nav>
          <!-- end navigation -->
          <!-- header-profile info -->
          <div class="header--profile">
            <div class="header--profile-img-likes">
              <a href="#">
                <img src="assets/angular-app/public/img/girl-message-1.jpg" width="40" height="40" alt=""></a>
              <div class="header--heart">
                <p>
                  <img src="assets/angular-app/public/img/header-heart.png" alt=""></p>
                <p>2000</p>
              </div>

            </div>
            <div class="header--profile-info">
              <p>
                Welcome,
                <span>{{ctrl.user.user.firstname}} {{ctrl.user.user.lastname}}</span>
              </p>
              <a href="#">My Profile</a>
              &nbsp;  |&nbsp;&nbsp;
              <a href="#">
                <span>Log out</span>
              </a>
            </div>
          </div>
          <!-- end header-profile info -->
        </div>
      </div>
    </div>
  </header><!--
  <!-- end header -->
  <!-- page-message -->



<main class="page-message" ng-show="ctrl.tumbler">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="main-content clearfix">
            <div class="message-tabs">
              <div class="message-tabs-item" ng-click="ctrl.change('introductions')">
                <p>Introductions</p>
              </div>
              <div class="message-tabs-item active" ng-click="ctrl.change('inbox')">
                <p>Inbox <span>({{ctrl.messages.letters.length}})</span></p>
              </div>
              <div class="message-tabs-item" ng-click="ctrl.change('outbox')">
                <p>Main</p>
              </div>
              <div class="message-tabs-item" ng-click="ctrl.change('deleted')">
                <p>Deleted</p>
              </div>
            </div>

            <div class="message-sort clearfix">
              <div class="message-sort-left">
                <div class="message-sort-left-1">
                  <label class="checkbox-1">
                      <input type="checkbox">
                      <span></span>
                  </label>
                  <i class="fa fa-caret-right"></i>
                </div>
                <p class="p-sort"><img src="assets/angular-app/public/img/calendar.png" alt="">Sort by Date</p>

                <p class="p-delete" ng-click="ctrl.deleteMessages()"><i class="fa fa-caret-down"></i><img src="assets/angular-app/public/img/delete.png" alt="">Delete</p>

              </div>
              <div class="message-sort-right">
                <a href="#" class="prev"><i class="fa fa-chevron-left"></i>prev</a>
              <ul>
                <li><a href="#"><b>1</b></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
              </ul>
              <a href="#" class="next"><i class="fa fa-chevron-right"></i>next</a>
              <p class="pages">1-20 of 134</p>
              </div>

            </div>
            <div class="message-filter clearfix">
              <a href="#" class="active">On this week</a>
              <a href="#" class="on-last-week">On last week</a>
              <div class="message-filter-select clearfix">
                <select name="" id="" class="selectpicker">
                  <option value="">From date</option>
                  <option value="">19</option>
                  <option value="">20</option>
                  <option value="">21</option>
                </select>
                <span class="message-filter-select-line"> - </span>
                <select name="" id="" class="selectpicker">
                  <option value="">To Date</option>
                  <option value="">31</option>
                  <option value="">32</option>
                  <option value="">33</option>
                </select>
              </div>
              <p><a href="#" class="active">Sort</a><a href="#">Reset</a></p>
  <!-- <div ng-click="ctrl.readTheLetter(19)">{{ctrl.messages.letters}}</div> -->
<!-- <div>{{ctrl.messages.letters[0]}}</div> -->
            </div>
            <div class="girls-messages" ng-repeat="messag in ctrl.messages.letters">
              <div class="girls-message-item active">
                <div class="girls-messega-item-content">
                  <div class="girls-message-checkbox">
                  <label class="checkbox-1">
                      <input type="checkbox" ng-model="messag.deleted">
                      <span></span>
                  </label>
                </div>
                <ul>
                  <li>
                    <p class="tooltips add-f">Add to favorites</p>
                    <a href="#" class="add-f-icon"></a></li>
                  <li>
                    <p class="tooltips add-gift">Send a gift</p><a href="#" class="add-f-gift"></a></li>
                  <li>
                    <p class="tooltips add-chat">Chat</p>
                    <a href="#" class="add-f-chat"></a></li>
                </ul>
                <img src="assets/angular-app/public/img/man-message.jpg" alt="">
                <div class="girls-message-item-info">
                  <div>
                    <a href="#"><span>{{messag.Sender.firstname}}</span>, 27</a>
                    <p><span></span>online</p>
                  </div>
                  <a href="#">{{messag.country}}</a>
                  <div class="clear"></div>
                  <span>{{messag.additionalData.text}}</span>
                </div>
                <p class="girl-message-date">{{messag.createdAt}}</p>
                <a href="#" class="girl-message-photo"><img src="assets/angular-app/public/img/photo.png" alt=""><span>3</span></a>
                <button class="btn-send" ng-click="ctrl.readTheLetter(messag.id);ctrl.correspondence(messag.senderId)">Read the letter</button>
                </div>
              </div>





              <!--<div class="girls-message-item red-bg">

                <div class="girls-messega-item-content">
                <div class="girls-message-checkbox">
                    <label class="checkbox-1">
                      <input type="checkbox">
                      <span></span>
                    </label>
                </div>
                <ul>
                  <li>
                    <p class="tooltips add-f">Add to favorites</p>
                    <a href="#" class="add-f-icon"></a></li>
                  <li>
                    <p class="tooltips add-gift">Send a gift</p><a href="#" class="add-f-gift"></a></li>
                  <li>
                    <p class="tooltips add-chat">Chat</p>
                    <a href="#" class="add-f-chat"></a></li>
                </ul>
                <img src="img/girl-message-1.jpg" alt="">
                <div class="girls-message-item-info">
                  <div>
                    <a href="#"><span>Natasha</span>, 27</a>
                    <p><span></span>online</p>
                  </div>
                  <a href="#">Ukraine, Kiev</a>
                  <div class="clear"></div>
                  <!-- <span>Hello my dear)) today morning was fun, went with a friend to walk the dog. He breaks out of the ...</span>
                  <p class="girl-message-date">14.09.2015 10:58</p>
                </div>

                <a href="#" class="new">NEW</a>
                <button class="btn-send">Read the letter</button>
                </div>
              </div>


              <div class="girls-message-item">

                <div class="girls-messega-item-content">
                  <div class="girls-message-checkbox">
                    <label class="checkbox-1">
                      <input type="checkbox">
                      <span></span>
                    </label>
                </div>
                <ul>
                  <li>
                    <p class="tooltips add-f">Add to favorites</p>
                    <a href="#" class="add-f-icon"></a></li>
                  <li>
                    <p class="tooltips add-gift">Send a gift</p><a href="#" class="add-f-gift"></a></li>
                  <li>
                    <p class="tooltips add-chat">Chat</p>
                    <a href="#" class="add-f-chat"></a></li>
                </ul>
                <img src="img/girl-message-1.jpg" alt="">
                <div class="girls-message-item-info">
                  <div>
                    <a href="#"><span>Natasha</span>, 27</a>
                    <p class="span-offline"><span></span>offline</p>
                  </div>
                  <a href="#">Ukraine, Kiev</a>
                  <div class="clear"></div>
                  <span>Hello my dear)) today morning was fun, went with a friend to walk the dog. He breaks out of the ...</span>
                </div>
                <p class="girl-message-date">14.09.2015 10:58</p>
                <a href="#" class="girl-message-photo"><img src="img/photo.png" alt=""><span>3</span></a>
                <button class="btn-send">Read the letter</button>
                </div>
              </div>
              <div class="girls-message-item">

                <div class="girls-messega-item-content">
                  <div class="girls-message-checkbox">
                <label class="checkbox-1">
                  <input type="checkbox">
                  <span></span>
                </label>
                </div>
                <ul>
                  <li>
                    <p class="tooltips add-f">Add to favorites</p>
                    <a href="#" class="add-f-icon"></a></li>
                  <li>
                    <p class="tooltips add-gift">Send a gift</p><a href="#" class="add-f-gift"></a></li>
                  <li>
                    <p class="tooltips add-chat">Chat</p>
                    <a href="#" class="add-f-chat"></a></li>
                </ul>
                <img src="img/girl-message-1.jpg" alt="">
                <div class="girls-message-item-info">
                  <div>
                    <a href="#"><span>Natasha</span>, 27</a>
                    <p><span></span>online</p>
                  </div>
                  <a href="#">Ukraine, Kiev</a>
                  <div class="clear"></div>
                  <span>Hello my dear)) today morning was fun, went with a friend to walk the dog. He breaks out of the ...</span>
                </div>
                <p class="girl-message-date">14.09.2015 10:58</p>
                <a href="#" class="girl-message-photo"><img src="img/photo.png" alt=""><span>3</span></a>
                <button class="btn-send">Read the letter</button>
                </div>
              </div>-->
            </div>
          </div>
        </div>
    </div>
  </div>
</main>
<!-- end page-message -->








<main class="page-message conversation chat-with-girl" ng-hide="ctrl.tumbler">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="main-content clearfix">
            <div class="message-tabs">
              <div class="message-tabs-item">
                <p>Introductions</p>
              </div>
              <div class="message-tabs-item" ng-click="ctrl.change('inbox')">
                <p>Inbox <span>(5)</span></p>
              </div>
              <div class="message-tabs-item" ng-click="ctrl.change('outbox')">
                <p>Mail</p>
              </div>
              <div class="message-tabs-item" ng-click="ctrl.change('deleted')">
                <p>Deleted</p>
              </div>
            </div>
            <div class="line"></div>
            <div class="girls-messages">
              <div class="girls-message-item">
                <!-- <div class="girls-message-checkbox">
                  <label class="checkbox-1">
                      <input type="checkbox">
                      <span></span>
                  </label>
                </div> -->
                <div class="girls-messega-item-content">
                <ul>
                  <li><a href="#"><img src="assets/angular-app/public/img/grey-like-message.png" alt=""></a></li>
                  <li><a href="#"><img src="assets/angular-app/public/img/grey-box-message.png" alt=""></a></li>
                  <li><a href="#"><img src="assets/angular-app/public/img/grey-comments-message.png" alt=""></a></li>
                  <li><a href="#"><img src="assets/angular-app/public/img/grey-like2.png" alt=""></a></li>
                </ul>

                <div class="girl-message-img">

                  <img src="assets/angular-app/public/img/man-message.jpg" alt="">
                  <a href="#" class="girl-message-photo">
                    <p>Attached files</p>
                    <img src="assets/angular-app/public/img/photo.png" alt="" class="mn-t-10"><span>3</span></a>
                </div>

                <div class="girls-message-item-info">
                  <div>
                    <a href="#"><span>{{ctrl.messagesId.message.Sender.firstname}}</span>, 27</a>
                    <p><span></span>online</p>
                  </div>
                  <a href="#">Ukraine, Kiev</a>
                  <div class="clear"></div>
                  <span>
                    {{ctrl.messagesId.message.additionalData.text}}
                  </span>
                </div>
                <p class="girl-message-date">{{ctrl.messagesId.message.createdAt}}</p>
                <!-- <button class="btn-send">Read the letter</button> -->
                </div>
              </div>
<!-- <div>{{ctrl.messagesId.message}}</div> -->
              <div class="send-message">
                <h4><img src="assets/angular-app/public/img/red-pensil.png" alt="">Send Message to {{ctrl.messagesId.message.Sender.firstname}}</h4>

                <textarea type="text" class="send-message-input" ng-model="ctrl.newMessage"></textarea>

                <p class="area-info">Files in GIF, JPG and PNG maximum 4096 KB size. Attach TWO photos for free. 10 credits will be deducted from your account for each additional photo</p>
                <div class="attach-button">Attach photo</div>
                <ul class="choose-files-list">
                  <li><img src="assets/angular-app/public/img/check-mark.png" alt="" class="choose-arrow"><a href="#"><img src="img/photo-icon.png" alt="">Choose files</a><span>Someone name.jpg <img src="img/delete.png" alt=""></span></li>
                  <li><img src="assets/angular-app/public/img/check-mark.png" alt="" class="choose-arrow"><a href="#"><img src="assets/angular-app/public/img/photo-icon.png" alt="">Choose files</a><span>Someone name.jpg <img src="assets/angular-app/public/img/delete.png" alt=""></span></li>
                  <li class="not-choose"><a href="#"><img src="assets/angular-app/public/img/grey-heart-in.png" alt="">Choose files</a><span>Someone name</span></li>
                  <li class="not-choose"><a href="#"><img src="assets/angular-app/public/img/grey-heart-in.png" alt="">Choose files</a><span>Someone name</span></li>
                  <li class="not-choose"><a href="#"><img src="assets/angular-app/public/img/grey-heart-in.png" alt="">Choose files</a><span>Someone name</span></li>
                </ul>

                <button class="btn-send" ng-click="ctrl.addMessage(ctrl.messagesId.message.senderId)">Send</button>

              </div>
              <div class="history clearfix">
                <h4><img src="assets/angular-app/public/img/clock-icon.png" alt="">Correspondence history</h4>
                <p class="p-sort"><img src="assets/angular-app/public/img/calendar.png" alt="">Sort by Date<i class="fa fa-caret-down"></i></p>
              </div>
              <div class="message-filter clearfix">
                <a href="#" class="active">On this week</a>
                <a href="#">On last week</a>
                <div class="message-filter-select clearfix">
                  <select name="" id="" class="selectpicker">
                    <option value="">From date</option>
                    <option value="">19</option>
                    <option value="">20</option>
                    <option value="">21</option>
                  </select>
                  <span class="message-filter-select-line"> - </span>
                  <select name="" id="" class="selectpicker">
                    <option value="">To Date</option>
                    <option value="">31</option>
                    <option value="">32</option>
                    <option value="">33</option>
                  </select>
                </div>
                <p class="message-filter-sort-end"><a href="#" class="active">Sort</a><a href="#">Reset</a></p>
              </div>
<!-- <div>{{ctrl.letterCor.letters[0]}}</div> -->
              <div class="dialog-container" ng-repeat="letter in ctrl.letterCor.letters" >
                <!-- <div class=" clearfix" ng-class="{'dialog-item' : ctrl.addClass(ctrl.messagesId.message.Sender.id, letter.senderId)}"> -->
                <div ng-class="{1:'dialog-item dialog-item-out clearfix', 0:'dialog-item dialog-item-in clearfix'}[ctrl.addClass(ctrl.messagesId.message.Sender.id, letter.senderId)]">
                <!-- <div class="clearfix" ng-class="{ctrl.add ? 'dialog-item' : 'dialog-item-out'}"> -->

                <!-- <div class="clearfix" ng-class="ctrl.add && 'dialog-item' || !ctrl.add &&'dialog-item-out'}"> -->
                  <img src="assets/angular-app/public/img/man-message.jpg" alt="" class="img-dialog">
                  <div class="girls-message-item-info clearfix">
                    <div>
                      <a href="#"><span>{{letter.Sender.firstname}}</span></a>
                    </div>
                    <div class="clear"></div>
                    <p class="girls-message-item-descr">{{letter.additionalData.text}}<a href="#">more<i class="fa fa-chevron-right"></i></a></p>
                    <p class="girl-message-date">{{letter.createdAt}}</p>
                    <a href="#" class="girl-message-photo"><img src="assets/angular-app/public/img/photo.png" alt="" class="mn-t-10"><span>3</span></a>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</main>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1 f-key-1">
        <ul class="footer-list">
          <li><a href="#">About Us</a></li>
          <li><a href="#">F.A.Q.</a></li>
          <li><a href="#">Anti-Scam Policy</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-sm-2 col-md-2 f-key-2">
        <ul class="footer-list">
          <li><a href="#" class="transp">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-sm-2 col-md-3 col-lg-2 f-key-3">
        <a href="#"><img src="assets/angular-app/public/img/footer-logo.png" alt=""></a>
      </div>
      <div class="col-sm-3 col-md-3 f-key-4">
        <div class="footer-right-side">
          <button>Live Support 24/7

          </button>
          <div class="clear"></div>
          <p>Follow Irinadating on

          </p>
          <ul>
            <li><a href="#" class="fb"><img src="assets/angular-app/public/img/fb.png" alt=""></a></li>
            <li><a href="#" class="tt"><img src="assets/angular-app/public/img/tb.png" alt=""></a></li>
            <li><a href="#" class="g-plus"><img src="assets/angular-app/public/img/g-plus.png" alt=""></a></li>
            <li><a href="#" class="yb"><img src="assets/angular-app/public/img/yb.png" alt=""></a></li>
            <li><a href="#" class="pp"><img src="assets/angular-app/public/img/p.png" alt=""></a></li>
            <li><a href="#" class="insta"><img src="assets/angular-app/public/img/insta.png" alt=""></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
<!-- copyright -->
<div class="copyright">
  <p>IrinaDating &copy; 2009-2015</p>
</div>



