<!-- <div>{{ctrl.stories}} </div> -->
	<!-- page-message -->
<main class="page-message page-blog">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="main-content clearfix">
					<div class="page-blog-head">
						<h1>Success Stories</h1>
					</div>
					<div class="page-blog-news clearfix">
						<!-- page-blog-news-item -->
						<div class="col-md-6" ng-repeat="story in ctrl.stories">
							<div class="page-blog-news-item">
								<span class="page-blog-news-item-date grey-14-Lt" ng-bind="story.date | date:'MMMM d'"></span>
								<h2><a href="" ng-bind="story.title"><br>Love</a></h2>
								<img src="{{story.path}}" alt="">
								<p class="grey-18-Lt" ng-bind="ctrl.sliseText(story.text)"></p>
								<a href="/#/single-post/{{story.id}}"><button class="btn-send">Open</button></a>
							</div>
						</div>
          </div>
					<div class="girls-arrow" ng-hide="ctrl.showPagin" ng-click="ctrl.paginStories()">
						<img src="assets/angular-app/public/img/girls-arrow.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- end page-message -->